<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipro</title>
</head>
<body>
  <%- include('./navbar.ejs') %>
  Create new recipe
  <form action="/new_recipe" method="POST">
    <label for="recipe_title">Recipe Name:</label>
    <input type="text" name="recipeTitle" id="recipe_title">
    <button type="submit">Create</button>
  </form>
</body>
</html>