<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipro</title>
</head>
<body>
  <%- include('../navbar.ejs') %>
  <h1>Create A Tag</h1>
  <form action="/new_tag" method="POST">
    <label for="tag_name">Tag Name: </label>
    <input type="text" name="tagName" id="tag_name">
    <button type="submit">Create Tag</button>
  </form>
  <a href="/">Back to Home</a>
</body>
</html>